@model QuestRooms.BLL.DtoModels.RoomDto
<style>
    .MaxHeiht {
        min-height:300px;
    }

</style>

<br />
<div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <div class="card-title"><h4 class="text-center">@Model.Name</h4></div>
                </div>
                <div class="card-body">
                    <img class="img-fluid" src="@Model.Images.FirstOrDefault().Path">
                    <div class="card-footer">
                        <div> <h4>@Model.TimeOfCompliting.Minutes<i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> @Model.Rating.ToString() <i class="fa fa-star fa-lg" aria-hidden="true"></i> @Model.MinCountOfPlayers-@Model.MaxCountOfPlayers <i class="fa fa-users fa-lg" aria-hidden="true"></i> @Model.MinAgeOfPlayers <i class="fa fa-address-card fa-lg" aria-hidden="true"></i></h4></div>
                        <hr />
                        <div class="card-text">
                            <div>lvl of fear: @Model.LvlOfFear</div>
                            <div>lvl of difficulty: @Model.LvlOfDifficulty</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3 ">
                <div class="card-body">
                    <p class="price">0.00 $</p>
                    <p class="price_discounted">0.00 $</p>
                    @*<form method="get" action="cart.html">*@
                    <div class="form-group">
                        <label for="colors">Count Of People</label>
                        <select class="custom-select" id="colors">
                            <option selected="">Select</option>
                            @if (Model.MinCountOfPlayers < Model.MaxCountOfPlayers)
                            {

                                for (int i = Model.MinCountOfPlayers, k = 0; i <= Model.MaxCountOfPlayers; i++, k++)
                                {
                                    <option value=@k.ToString()>@i</option>
                                }
                            }
                            else
                            {
                                for (int i = Model.MaxCountOfPlayers, k = 0; i <= Model.MinCountOfPlayers; i++, k++)
                                {
                                    <option value=@k.ToString()>@i</option>
                                }
                            }

                        </select>
                    </div>

                    <a href="cart.html" class="btn btn-success btn-lg btn-block text-uppercase">
                        <i class="fa fa-shopping-cart"></i> Book
                    </a>
                    @*</form>*@
                    <div class="product_rassurance">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br>Fast answer</li>
                            <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br>Secure payment</li>
                            <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br>@Model.PhoneNumber</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <!-- Description -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                <div class="card-body">
                    <p class="card-text">
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>

        <!-- Reviews -->

    </div>
</div>
