@model QuestRooms.BLL.DtoModels.RoomDto
<div class="col-xl-3 col-lg-4 col-md-6 col-12 questroom">
    <div class="card text-center h-100">
        <img class="card-img-top" src="@Model.Images.FirstOrDefault().Path" alt="Card image cap">
        <div class="card-footer">
            <h5 class="card-title">@Model.Name </h5>
        </div>
        <div class="card-body" id="card">
            <div class="block-with-text"> @Model.Description</div>
           
        </div>
        <div class="card-footer">
            <div> @Model.TimeOfCompliting.Minutes <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> @Model.Rating.ToString() <i class="fa fa-star fa-lg" aria-hidden="true"></i> @Model.MinCountOfPlayers-@Model.MaxCountOfPlayers <i class="fa fa-users fa-lg" aria-hidden="true"></i></div>
            <hr />
            <button class="btn btn-success btn-block w-100" onclick="location.href='@Url.Action("Details","Rooms", new {id = @Model.ID })'">Book now</button>
        </div>

    </div>
</div>
